body {
  font-family: sans-serif;
  background-color: rgb(34, 34, 34);
  color: honeydew;
}

#texthead {
  color: aquamarine;
  padding-right: 530px;
}
.navord {
  list-style-type: none;
  margin: 0px;

  overflow: hidden;
  background-color: #333;
  display: flex;
}

li a {
  text-decoration: none;
  color: white;
}

.navlist {
  padding: 14px 16px;
  align-content: center;
}
button {
  border: none;
  background-color: darkgray;
  color: white;
  border-radius: 3px;
  height: 30px;
}
input {
  height: 27px;
  width: 200px;
  border-radius: 3px;
  border: none;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.movie {
  display: grid;
  grid-template-columns: repeat(4, 10fr);
}
.movie img {
  width: 250px;
  height: 350px;
  margin-right: 50px;
}
#ttext {
  max-width: 15vw;
}

.movie li {
  list-style-type: none;
}
.pagedata {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.pagebutton {
  margin-right: 25px;
  margin-left: 25px;
  cursor: pointer;
}

.cast {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.castdata {
  display: grid;
  grid-template-columns: repeat(6, 10fr);
}
.castdata img {
  width: 160px;
  height: 220px;
  margin-right: 50px;
}
.castdata li{
  list-style: none;
}

.posterpath {
  width: 100%;
  height: 30%;
  padding-top: 15px;
}

#poster-background {
  position: relative;
  background-size: 100% 100%; 
  background-repeat: no-repeat; 
  width: 100% 
  height: 300px; 
  border-radius: 10px; 
  
  
}

#parent1
{
  position: absolute;
  top:100px;
  left: 50px;
  
}
#c1 img
{
  width: 20%;
  height: 30vh;
  float: left;
}
#titledata{
  min-width: 30vw;
}

#c2 
{
  position:relative;
  top: 0vh;
  float: left;

}
#c2 p
{
  max-width: 60%;
  color:rgb(70, 5, 88);
}
 
